


@media only screen and (min-width: 768px) {

     .wrapper__image--content{
      
       align-items: center;
       
     }

         .wrapper__title--text-button{
          padding: var(--spacing-500) var(--spacing-800);
          gap:var(--spacing-400);
          
     }
 

.features__info{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:var(--spacing-200);
    margin-top:var(--spacing-400);
   
  
  


.features__item {
   
    align-items: flex-start;
      text-align: left;
    
}
}


  .articles__container {
  

    .wrapper__image--description {
      display:grid;
      grid-template-columns: repeat(2, 1fr) 
    }
    
  }
}



  @media only screen and (min-width: 1024px) {


.header__inner{


   .navigation{
    
     position: static;
     right:auto;
     top:auto;
     width:auto;
     padding:0;
      background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-500);

   
    }

     .nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-400);
    margin: 0;
    padding: 0;
  }
  .nav__items {
    display: block;
  }

  .nav__button-link {
    display: block;
  }


.menu-btn{
        display: none;
    }
.overlay{
        display: none;
    }
  }


    .wrapper__image--content{
      
      display:grid;
      grid-template-areas: " text  image";
       grid-template-columns: repeat(2, 1fr);
       align-items: center;
      


      .image__hero--container{
        grid-area: image;
         justify-self: end;
        align-self: center;
         transform: translateX(40px);
         overflow:visible;
         max-height:60vh;

    
  }

  .image__overlay--background {
        transform: translateY(-80px);
    }


        .image__hero img{
            transform: translateX(0);

        }
        
      }
      .wrapper__title--text-button{
         grid-area: text;
        
        display:flex;
         flex-direction: column;
         align-items: flex-start;
        gap:var(--spacing-400);
        //  justify-self: start;
         min-width: 550px;
       
        
      
      
       .hero__title{
         text-align: left;
         
       }
       .hero__text{
       
         text-align: left;
       
  }
}

.features{
    
    .features__title{
       
        margin-top:0;
        text-align: left;

    } 
     .features__text{
        text-align: left;
        max-inline-size: 500px;
     }
  }
}



  
    
    
    


  
  